a
{
	text-decoration:none;
	color:skyblue;
	font-size:25px;
}
a:hover
{
	color:purple;
}
a:active
{
	color:red;
}
#top
{

}
#data
{
	border-radius:20px;
	font-size:30px;
	text-align:center;
	background-color:white;
	opacity:0.8;
}
#about
{
	border-radius:20px;
	font-size:30px;
	background-color:white;
	opacity:0.8;
}
#home_data_div
{
	border-radius:20px;
	background-color:white;
	opacity:0.8;
}
#help_data_div
{
	border-radius:20px;
	background-color:white;
	opacity:0.8;
}
#MyIframe
{
	border:0;
	border-radius:20px;
	overflow:hidden;
}
#iframe_div
{
	height:670px;
	width:933px;
	overflow:hidden;
	border-radius:20px;
}
#MyScreen1
{
	opacity:0.6;
}
#MyScreen1:hover
{
	opacity:1;
}
#MyScreen2
{
	opacity:0.6;
}
#MyScreen2:hover 
{
	opacity:1;
}